html, body{
    width:100vw;
    height:100vh;
}

body {
    color: #fff;
    font-family:'Muli';
    background: linear-gradient(180deg, rgba(154, 3, 30, 0.5) 0%, #181818 54.7%);
    background-repeat: no-repeat;
    background-attachment: fixed;
}

.background{
    width:100vw;
    height: 100vh;
}

.content-wrapper{
    width: 1200px;
    margin: 0 auto;
}

.header-btn{
    font-weight: 600;
    margin: 0 12px;

    text-decoration: none;
    color: #fff;
}

.btn {
    font-weight: 700;
    text-transform: uppercase;
    text-decoration: none;
    color: #fff;
    line-height: 16px;
    padding: 12px;
}

.btn__flat {
    color: #ccc;
}

header {
    width: 100%;
    height:72px;
    background-color: rgba(5, 5, 5, .2);
}

.user-info{
    float: left;
}

.user-info__picture{
    float: left;
    margin: 12px 0;
    height: 48px;
    width: 48px;
    border-radius:48px;
    background-color: #ccc;
}

.user-info__text{
    float: left;
    padding: 16px;
}

.user-info__name{
    font-weight:700;
}

.user-info__location{
    font-weight: 400;
    color: #ccc;
}

.actions {
    float: right;
}

.actions > .header-btn{
    float: left;
    line-height: 72px;
}

section {
    width:100%;
    margin-top:24px;
}

section:first-of-type{
    margin-top:48px;
}

.section-heading{
    display:inline-block;
    width:100%;
}

.section-heading + *{
    clear:both;
}

.section-heading__title{
    float:left;
    font-size: 36px;
    font-weight: 900;
}

.section-heading__subtitle{
    clear:both;
    float:left;
    font-weight: 400;
    color: #ccc;
}

.section-heading > .btn {
    float: right;
}

.artist-list{
    display: flex;
    flex-flow: row wrap;
    justify-content: flex-start;
    align-content: flex-start;

    margin-top:24px;
}

.artist{
    margin-right:24px;
    margin-bottom:24px;
}

.artist-image{
    width: 144px;
    height: 144px;
    background-color: #ccc;
    box-shadow: 0px 8px 24px rgba(0,0,0,0.12);
}

.artist-name{
    padding-top:12px;
    
    font-weight: 600px;
    text-align: center;

    color: #ccc;

}